* {
  margin: 0;
  background-color: #8eaebd;
  max-width: 1440px;
  color: #031424;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.quiz__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.quiz__container > h1 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.question__section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question__text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.answer__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.answer__section > button {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 5px 10px #30415d;
  transition: all 0.2s ease;
}

.answer__section > button:hover {
  background-color: #cf6766;
  font-weight: bold;
}

.serial__killer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.serial__killer > p {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 660px) {
  .quiz__container > h1 {
    font-size: 20px;
  }

  .question__text {
    font-size: 16px;
  }

  .answer__section > button {
    font-size: 12px;
    padding: 10px;
    width: 100px;
  }

  .photo {
    width: 90%;
  }

  .serial__killer > p {
    font-size: 9px;
    font-weight: normal;
  }
}
